body {
    margin: 0px;
    font-family: Open Sans;
    font-size: 16px;
}

#app {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #4b9cb4, #2350a5);
    background-size: 400% 400%;
    animation: gradient 60s linear infinite;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#content {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
}

#component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat {
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#messages {
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: visible;
}

#spacer {
    flex-grow: 1;
}

input {
    font-family: Open Sans;
    font-size: 16px;
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.7;
}

#input-box {
    border-bottom: 2px solid rgba(255, 255, 255, 0.233);
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    height: 40px;
}

#input {
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    padding: 0px 20px;
    outline: none;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-box:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.507);
}

#button-submit {
    flex-grow: 0;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.829);
}

#button-submit:hover {
    cursor: pointer;
    color: white;
}

.message-box {
    display: flex;
    padding: 0px 20px;
}

.foreign-message-box{
    flex-direction: row;
}

.own-message-box{
    flex-direction: row-reverse;
}

.own-message {
    background: rgba(255, 255, 255, 0.164);
    flex-direction: row-reverse;
}

.foreign-message {
    background: rgba(255, 255, 255, 0.062);
    flex-direction: row;
}

.message-text{
    padding: 10px 20px;
    flex-grow: 1;
}

.message {
    margin: 10px 0px;
    border-radius: 20px;
    width: calc(100% - 40px);
    display: flex;
    /* animation: hide-message 2s ease forwards; */
}

.avatar {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.9);
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
}

@keyframes hide-message {
    0% {
        position: relative;
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -40px;
        opacity: 0;
    }
}

@media only screen and (max-width: 800px) {

    #chat {
        width: 90%;
    }

}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

.popover {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    top: 0;
    z-index: 20;
    border-radius: 20px;
    width: 200px;
    display: none;
    color: black;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.popover-title{
    padding: 12px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.popover-content{
    padding: 0px 20px;
    padding-bottom: 10px;
}

.button{
    color: white;
    background: #5985be;
    padding: 6px 15px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    font-size: 14px;
    border-radius: 10px;
}

.button:hover {
    background: #4e89e0;
    cursor: pointer;
}

.avatar:hover .popover{
    display: block;
}

.foreign-avatar:hover .popover{
    left: 0;
}

.own-avatar:hover .popover{
    right: 0px;
}